################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/miniapp.ViewModels/obj
/miniapp.ViewModels/bin/Debug/netcoreapp2.1
/miniapp.EntityFrameworkCore/bin/Debug/netcoreapp2.1
/miniapp.EntityFrameworkCore/obj
/miniapp/bin/Debug/netcoreapp2.1
/miniapp/obj
/miniapp/wwwroot/clientapp/out-tsc
/miniapp/node_modules
